<!-- <div>
  <h2 id="page-heading" data-cy="NoiDenCongTacHeading">
    <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.home.title">Noi Den Cong Tacs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-noi-den-cong-tac"
        [routerLink]="['/noi-den-cong-tac/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.home.createLabel"> Create a new Noi Den Cong Tac </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="noiDenCongTacs?.length === 0">
    <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.home.notFound">No noiDenCongTacs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="noiDenCongTacs && noiDenCongTacs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maNoiDen">
            <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.maNoiDen">Ma Noi Den</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tenNoiDen">
            <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.tenNoiDen">Ten Noi Den</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="thuTuSX">
            <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.thuTuSX">Thu Tu SX</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let noiDenCongTac of noiDenCongTacs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/noi-den-cong-tac', noiDenCongTac.id, 'view']">{{ noiDenCongTac.id }}</a>
          </td>
          <td>{{ noiDenCongTac.maNoiDen }}</td>
          <td>{{ noiDenCongTac.tenNoiDen }}</td>
          <td>{{ noiDenCongTac.thuTuSX }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/noi-den-cong-tac', noiDenCongTac.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/noi-den-cong-tac', noiDenCongTac.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(noiDenCongTac)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="noiDenCongTacs && noiDenCongTacs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div> -->

<span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.home.title" style = "font-weight: bold; font-size: 30px;">Noi Den Cong Tacs</span> 
  <div class="container" > 
    <jhi-alert-error></jhi-alert-error> 
    <jhi-alert></jhi-alert> 
    <div class="row" > 
      <div class="col"  > 
        <div class="table-responsive" id="entities" *ngIf="noiDenCongTacs && noiDenCongTacs.length > 0" > 
          <table class="table table-striped " aria-describedby="page-heading" > 
            <thead style="border: 2px solid black"> 
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()"  style="background-color: #6495ed"> 
                <th></th> 
                <th scope="col" jhiSortBy="maNoiDen"> 
                  <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.maNoiDen">Ma Noi Den</span> <fa-icon icon="sort"></fa-icon> 
                </th> 
                <th scope="col" jhiSortBy="tenNoiDen"> 
                  <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.tenNoiDen">Ten Noi Den</span> <fa-icon icon="sort"></fa-icon> 
                </th> 
                <th scope="col" jhiSortBy="thuTuSX"> 
                  <span jhiTranslate="chiDaoTuyenApp.noiDenCongTac.thuTuSX">Thu Tu SX</span> <fa-icon icon="sort"></fa-icon> 
                </th> 
              </tr> 
            </thead> 
 
 
            <tbody> 
              <tr> 
                <td> 
 
                </td> 
                <td> 
                  <input name="maND" [(ngModel)]="maND" type="text"> 
                </td> 
                <td> 
                  <input name="tenND" [(ngModel)]="tenND" type="text"> 
                </td> 
                <td> 
                  <input name="ttsx" [(ngModel)]="ttsx" type="text"> 
                </td> 
 
              </tr> 
              <ng-container *ngFor="let noiDenCongTac of noiDenCongTacs; trackBy: trackId" data-cy="entityTable">
                <ng-container *ngIf="(noiDenCongTac?.tenNoiDen)?.includes(tenND)">
              <tr (click)="showInfor(noiDenCongTac.id, noiDenCongTac.maNoiDen ?? '', noiDenCongTac.tenNoiDen ?? '', noiDenCongTac.thuTuSX ?? ''
              )">
                <td>
                  <a [routerLink]="['/noi-den-cong-tac', noiDenCongTac.id, 'view']">{{ noiDenCongTac.id }}</a>
                </td>
                <td>{{ noiDenCongTac.maNoiDen }}</td>
                <td>{{ noiDenCongTac.tenNoiDen }}</td>
                <td>{{ noiDenCongTac.thuTuSX }}</td> 
              </ng-container>
              </ng-container>
            </tbody> 
             
          </table> 
        </div> 
        <!-- <div *ngIf="ketQuaCongTacs && ketQuaCongTacs.length > 0"> 
          <div class="d-flex justify-content-center"> 
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count> 
          </div> 
 
          <div class="d-flex justify-content-center"> 
            <ngb-pagination 
              [collectionSize]="totalItems" 
              [(page)]="ngbPaginationPage" 
              [pageSize]="itemsPerPage" 
              [maxSize]="5" 
              [rotate]="true" 
              [boundaryLinks]="true" 
              (pageChange)="loadPage($event)" 
            ></ngb-pagination> 
          </div> 
        </div>  -->
      </div> 
      <div class="col"   > 
        <form > 
          <div style="background-color: #6495ed; align-items: center; height: 44px; border: 3px solid black; " > 
            <div style="margin-left: 10px; font-weight: bold;">Thông Tin Nơi Đến Công Tác</div> 
          </div> 
          <br> 
 
          <form name="editForm" role ="form" [formGroup] = "editForm"> 
            <div class="form-group">

<div style="margin-left: 10px;">Mã Nơi Đến</div> 
              <input  type="input" value= "{{maNoiDens}}" [(ngModel)] = "maNoiDen1" required NOT NULL formControlName="maNoiDen" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --> 
            </div> 
            <div class="form-group"> 
              <div style="margin-left: 10px;">Tên Nơi Đến</div> 
              <input type="input" value="{{tenNoiDens}}" [(ngModel)] = "tenNoiDen1" required NOT NULL class="form-control" formControlName="tenNoiDen" id="exampleInputPassword1" > 
            </div> 
            <div class="form-group"> 
              <div style="margin-left: 10px;">Thứ Tự SX</div> 
              <input type="input" value="{{thuTuSXs}}"[(ngModel)] = "thuTuSX1" class="form-control" formControlName="thuTuSX" id="exampleInputPassword1" > 
            </div> 
            <br> 
 
 
 
 
            <td class="text-end"> 
              <div class="btn-group"> 
 
                <button 
                  type="submit" 
                  id="save-entity" 
                  data-cy="entityCreateSaveButton" 
                  (click)="create()" 
                  [disabled]="editForm.invalid || isSaving" 
                  class="btn btn-primary" 
                > 
                  <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.create">Create</span> 
                </button> 
 
 
                <button 
                  type="submit" 
                  class="btn btn-primary" 
                  (click)="save()" 
                  data-cy="entityCreateButton" 
                  style= "margin-left:5px" 
                  > 
                  <fa-icon icon="pencil-alt"></fa-icon> 
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> 
                </button> 
 
 
                <button type="submit" class="btn btn-danger " data-cy="entityDeleteButton" (click)="delete()" style= "margin-left:5px"> 
                  <fa-icon icon="times"></fa-icon> 
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> 
                </button>
 
                <button type="submit" class="btn btn-primary" (click)="cancel()" style="margin-left: 5px;"> 
                  <fa-icon icon="ban"></fa-icon> 
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.cancel">Cancel</span> 
                </button> 
              </div> 
            </td> 
 
 
          </form> 
 
 
 
        </form> 
 
      </div> 
    </div> 
  </div> 
