<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-vat-tu-ho-tro-heading"
        data-cy="VatTuHoTroCreateUpdateHeading"
        jhiTranslate="chiDaoTuyenApp.vatTuHoTro.home.createOrEditLabel"
      >
        Create or edit a Vat Tu Ho Tro
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.vatTuHoTro.maVatTu" for="field_maVatTu">Ma Vat Tu</label>
          <input type="text" class="form-control" name="maVatTu" id="field_maVatTu" data-cy="maVatTu" formControlName="maVatTu" />
          <div *ngIf="editForm.get('maVatTu')!.invalid && (editForm.get('maVatTu')!.dirty || editForm.get('maVatTu')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maVatTu')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.vatTuHoTro.tenVatTu" for="field_tenVatTu">Ten Vat Tu</label>
          <input type="text" class="form-control" name="tenVatTu" id="field_tenVatTu" data-cy="tenVatTu" formControlName="tenVatTu" />
          <div *ngIf="editForm.get('tenVatTu')!.invalid && (editForm.get('tenVatTu')!.dirty || editForm.get('tenVatTu')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tenVatTu')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.vatTuHoTro.thuTuSX" for="field_thuTuSX">Thu Tu SX</label>
          <input type="text" class="form-control" name="thuTuSX" id="field_thuTuSX" data-cy="thuTuSX" formControlName="thuTuSX" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
