<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-chi-dao-tuyen-heading"
        data-cy="ChiDaoTuyenCreateUpdateHeading"
        jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.home.createOrEditLabel"
      >
        Create or edit a Chi Dao Tuyen
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.soQuyetDinh" for="field_soQuyetDinh">So Quyet Dinh</label>
          <input
            type="text"
            class="form-control"
            name="soQuyetDinh"
            id="field_soQuyetDinh"
            data-cy="soQuyetDinh"
            formControlName="soQuyetDinh"
          />
          <div *ngIf="editForm.get('soQuyetDinh')!.invalid && (editForm.get('soQuyetDinh')!.dirty || editForm.get('soQuyetDinh')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soQuyetDinh')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.ngayQuyetDinh" for="field_ngayQuyetDinh"
            >Ngay Quyet Dinh</label
          >
          <div class="d-flex">
            <input
              id="field_ngayQuyetDinh"
              data-cy="ngayQuyetDinh"
              type="datetime-local"
              class="form-control"
              name="ngayQuyetDinh"
              formControlName="ngayQuyetDinh"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('ngayQuyetDinh')!.invalid && (editForm.get('ngayQuyetDinh')!.dirty || editForm.get('ngayQuyetDinh')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayQuyetDinh')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayQuyetDinh')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.soHD" for="field_soHD">So HD</label>
          <input type="text" class="form-control" name="soHD" id="field_soHD" data-cy="soHD" formControlName="soHD" />
          <div *ngIf="editForm.get('soHD')!.invalid && (editForm.get('soHD')!.dirty || editForm.get('soHD')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('soHD')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.ngayHD" for="field_ngayHD">Ngay HD</label>
          <div class="d-flex">
            <input
              id="field_ngayHD"
              data-cy="ngayHD"
              type="datetime-local"
              class="form-control"
              name="ngayHD"
              formControlName="ngayHD"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayHD')!.invalid && (editForm.get('ngayHD')!.dirty || editForm.get('ngayHD')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ngayHD')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayHD')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.noiDung" for="field_noiDung">Noi Dung</label>
          <input type="text" class="form-control" name="noiDung" id="field_noiDung" data-cy="noiDung" formControlName="noiDung" />
          <div *ngIf="editForm.get('noiDung')!.invalid && (editForm.get('noiDung')!.dirty || editForm.get('noiDung')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('noiDung')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.ngayBatDau" for="field_ngayBatDau">Ngay Bat Dau</label>
          <div class="d-flex">
            <input
              id="field_ngayBatDau"
              data-cy="ngayBatDau"
              type="datetime-local"
              class="form-control"
              name="ngayBatDau"
              formControlName="ngayBatDau"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayBatDau')!.invalid && (editForm.get('ngayBatDau')!.dirty || editForm.get('ngayBatDau')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayBatDau')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayBatDau')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.ngayKetThuc" for="field_ngayKetThuc">Ngay Ket Thuc</label>
          <div class="d-flex">
            <input
              id="field_ngayKetThuc"
              data-cy="ngayKetThuc"
              type="datetime-local"
              class="form-control"
              name="ngayKetThuc"
              formControlName="ngayKetThuc"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayKetThuc')!.invalid && (editForm.get('ngayKetThuc')!.dirty || editForm.get('ngayKetThuc')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayKetThuc')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayKetThuc')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.ghiChu" for="field_ghiChu">Ghi Chu</label>
          <input type="text" class="form-control" name="ghiChu" id="field_ghiChu" data-cy="ghiChu" formControlName="ghiChu" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.ngayTao" for="field_ngayTao">Ngay Tao</label>
          <div class="d-flex">
            <input
              id="field_ngayTao"
              data-cy="ngayTao"
              type="datetime-local"
              class="form-control"
              name="ngayTao"
              formControlName="ngayTao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayTao')!.invalid && (editForm.get('ngayTao')!.dirty || editForm.get('ngayTao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayTao')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayTao')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.soBnKhamDieuTri" for="field_soBnKhamDieuTri"
            >So Bn Kham Dieu Tri</label
          >
          <input
            type="text"
            class="form-control"
            name="soBnKhamDieuTri"
            id="field_soBnKhamDieuTri"
            data-cy="soBnKhamDieuTri"
            formControlName="soBnKhamDieuTri"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.soBnPhauThuat" for="field_soBnPhauThuat"
            >So Bn Phau Thuat</label
          >
          <input
            type="text"
            class="form-control"
            name="soBnPhauThuat"
            id="field_soBnPhauThuat"
            data-cy="soBnPhauThuat"
            formControlName="soBnPhauThuat"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.soCanBoChuyenGiao" for="field_soCanBoChuyenGiao"
            >So Can Bo Chuyen Giao</label
          >
          <input
            type="text"
            class="form-control"
            name="soCanBoChuyenGiao"
            id="field_soCanBoChuyenGiao"
            data-cy="soCanBoChuyenGiao"
            formControlName="soCanBoChuyenGiao"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.luuTru" for="field_luuTru">Luu Tru</label>
          <input type="text" class="form-control" name="luuTru" id="field_luuTru" data-cy="luuTru" formControlName="luuTru" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.tienAn" for="field_tienAn">Tien An</label>
          <input type="text" class="form-control" name="tienAn" id="field_tienAn" data-cy="tienAn" formControlName="tienAn" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.tienO" for="field_tienO">Tien O</label>
          <input type="text" class="form-control" name="tienO" id="field_tienO" data-cy="tienO" formControlName="tienO" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.tienDiLai" for="field_tienDiLai">Tien Di Lai</label>
          <input type="text" class="form-control" name="tienDiLai" id="field_tienDiLai" data-cy="tienDiLai" formControlName="tienDiLai" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.taiLieu" for="field_taiLieu">Tai Lieu</label>
          <input type="text" class="form-control" name="taiLieu" id="field_taiLieu" data-cy="taiLieu" formControlName="taiLieu" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.giangDay" for="field_giangDay">Giang Day</label>
          <input type="text" class="form-control" name="giangDay" id="field_giangDay" data-cy="giangDay" formControlName="giangDay" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.khac" for="field_khac">Khac</label>
          <input type="text" class="form-control" name="khac" id="field_khac" data-cy="khac" formControlName="khac" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.lyDoCongTac" for="field_lyDoCongTac">Ly Do Cong Tac</label>
          <select class="form-control" id="field_lyDoCongTac" data-cy="lyDoCongTac" name="lyDoCongTac" formControlName="lyDoCongTac">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                lyDoCongTacOption.id === editForm.get('lyDoCongTac')!.value?.id ? editForm.get('lyDoCongTac')!.value : lyDoCongTacOption
              "
              *ngFor="let lyDoCongTacOption of lyDoCongTacsSharedCollection; trackBy: trackLyDoCongTacById"
            >
              {{ lyDoCongTacOption.tenLyDo }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.noiDenCongTac" for="field_noiDenCongTac"
            >Noi Den Cong Tac</label
          >
          <select
            class="form-control"
            id="field_noiDenCongTac"
            data-cy="noiDenCongTac"
            name="noiDenCongTac"
            formControlName="noiDenCongTac"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                noiDenCongTacOption.id === editForm.get('noiDenCongTac')!.value?.id
                  ? editForm.get('noiDenCongTac')!.value
                  : noiDenCongTacOption
              "
              *ngFor="let noiDenCongTacOption of noiDenCongTacsSharedCollection; trackBy: trackNoiDenCongTacById"
            >
              {{ noiDenCongTacOption.tenNoiDen }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.ketQuaCongTac" for="field_ketQuaCongTac"
            >Ket Qua Cong Tac</label
          >
          <select
            class="form-control"
            id="field_ketQuaCongTac"
            data-cy="ketQuaCongTac"
            name="ketQuaCongTac"
            formControlName="ketQuaCongTac"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                ketQuaCongTacOption.id === editForm.get('ketQuaCongTac')!.value?.id
                  ? editForm.get('ketQuaCongTac')!.value
                  : ketQuaCongTacOption
              "
              *ngFor="let ketQuaCongTacOption of ketQuaCongTacsSharedCollection; trackBy: trackKetQuaCongTacById"
            >
              {{ ketQuaCongTacOption.tenKetQua }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.kyThuatHoTro" for="field_kyThuatHoTro">Ky Thuat Ho Tro</label>
          <select class="form-control" id="field_kyThuatHoTro" data-cy="kyThuatHoTro" name="kyThuatHoTro" formControlName="kyThuatHoTro">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                kyThuatHoTroOption.id === editForm.get('kyThuatHoTro')!.value?.id ? editForm.get('kyThuatHoTro')!.value : kyThuatHoTroOption
              "
              *ngFor="let kyThuatHoTroOption of kyThuatHoTrosSharedCollection; trackBy: trackKyThuatHoTroById"
            >
              {{ kyThuatHoTroOption.tenKyThuat }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.vatTuHoTro" for="field_vatTuHoTro">Vat Tu Ho Tro</label>
          <select class="form-control" id="field_vatTuHoTro" data-cy="vatTuHoTro" name="vatTuHoTro" formControlName="vatTuHoTro">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                vatTuHoTroOption.id === editForm.get('vatTuHoTro')!.value?.id ? editForm.get('vatTuHoTro')!.value : vatTuHoTroOption
              "
              *ngFor="let vatTuHoTroOption of vatTuHoTrosSharedCollection; trackBy: trackVatTuHoTroById"
            >
              {{ vatTuHoTroOption.tenVatTu }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="chiDaoTuyenApp.chiDaoTuyen.nhanVien" for="field_nhanVien">Nhan Vien</label>
          <select class="form-control" id="field_nhanVien" data-cy="nhanVien" name="nhanVien" formControlName="nhanVien">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="nhanVienOption.id === editForm.get('nhanVien')!.value?.id ? editForm.get('nhanVien')!.value : nhanVienOption"
              *ngFor="let nhanVienOption of nhanViensSharedCollection; trackBy: trackNhanVienById"
            >
              {{ nhanVienOption.chucVu }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
